/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 30%;
  height: 280px;
  margin-right: 10px;
  background: none;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height:0px;
  font-size: 80px;
  color: white;
}
.flickity-item-wrap{
    height: 100%;
}
.owl-next{
    height: 100%;
}
